<% @page_title = "User - Delete" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="page delete">
	<h2>Delete User</h2>

	

    <%= form_for(:user, :url => {:action => 'destroy', :id => @user.id}) do |f| %>

    <p>Are you sure you want to remove "<%= @user.name %>"? </p>

    <p class="referenece-name">With username "<%= @user.username %>"? </p>

	<div class="form-buttons">
        <%= submit_tag("Delete User") %>
	</div>

	<% end %>
</div>